/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CANVAS – FUNDO REAL */
#canvas {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 0;
  pointer-events: none;
}

.layout {
  max-width: 80vw;
  position: relative; /*deixo o browser decidir*/
  z-index: 1;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  padding: 2rem;
}

.menu-wrapper {
  position: relative; /*relative pq tem filhos*/
}

.menu {
  /* layout */
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  /* visual */
  opacity: 1;
  transform: translateY(0);

  /* motion */
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.menu.hidden {
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
}

.btn-base {
  /* visual */
  color: rgb(248, 247, 242);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 12px;

  /* typography */
  font-size: 0.95rem;
  font-weight: 500;

  /* interaction */
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease,
    border-color 0.25s ease;
}

.btn {
  padding: 0.5rem 1.2rem;
}

.btn-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.5rem 1.2rem;
}
/*icon do botao menu*/
.icon {
  width: 20px;
  height: 20px;
}
/* HOVER */
.btn-base:hover {
  background-color: white;
  color: #0b0b0f;
  border-color: white;
}

#container {
  flex: 1;
  position: relative;
  pointer-events: none; /* mantém o canvas ativo */
}

.panel {
  position: absolute;
  top: 5%;
  left: 15%;
  max-width: 440px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  background: rgba(14, 14, 24, 0.48);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 12px;

  pointer-events: auto;

  /* animação */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.panel.hidden {
  opacity: 0;
  transform: translateY(12px);
  pointer-events: none;
}

/* UTILITÁRIO */
.hidden {
  opacity: 0;
  pointer-events: none;
}

/* alterar dps */
.signature {
  position: fixed;
  right: 2.5rem;
  bottom: 1.5rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.15em;
  opacity: 0.6;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 100%, #000000 0%, #19093c 100%);
}

#context p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(240, 239, 238, 0.85);

  margin-bottom: 0.2rem;
}
